<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:tizen="http://tizen.org/ns/widgets" 
        id="http://yourdomain.com/iptvplayer" 
        version="1.0.0" viewmodes="maximized">
    <tizen:application id="iptvplayer.tizen" package="iptvplayer" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/display"/>
    <tizen:privilege name="http://tizen.org/privilege/fullscreen"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto"/>
    <name>IPTV Player</name>
    <tizen:metadata key="http://samsung.com/tv/metadata/optimized-app" value="true"/>
</widget>